<a href="https://colab.research.google.com/github/GreeshmaHarids/Greeshma_Meta_Scifor_Technology/blob/main/Python_Basic_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basics Questions**

1. Find sum of list elements
2. Largest element in a list
3. Remove Duplicates in a list
4. Check if all elements in a list are unique
5. Program to reverse list
6. Count no of odd n even numbers in a list
7. Check if a list is subset of another list
8. Max diff btw two consecutive elements in a list
9. Merge Multiple dictionaries
10. Find words frequency in a sentence

In [2]:
#1
l=[1,2,3,4,5,6,7,8]
sum=0
for i in l:
  sum+=i
print(sum)

36

In [3]:
#2
l=[1,2,3,4,5,6,7,8]
max=l[0]
for i in l:
  if i>max:
    max=i
print(max)

8

In [4]:
#3
l=[1,2,3,4,5,6,7,8,1,2,3]
l1=[]
for i in l:
  if i not in l1:
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
#4
l=[1,"hello","a",4,5,8,2345,"A"]
if len(l)==len(set(l)):
  print("All elements are unique")
else:
  print("Not unique")

All elements are unique

In [24]:
#5
l=[1,2,3,4,5,6,7,8]
l1=[]
for i in l:
  l1.insert(0,i)
print(l1)

#method 2
l=[1,2,3,4,5,6,7,8]
l2=l[::-1]
print(l2)

[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
#6
l=[3,4,5,2,1,6,7,8,9,2]
even=0
odd=0
for i in l:
  if i%2==0:
    even+=1
  else:
    odd+=1
print("Even:",even)
print("Odd:",odd)

Even: 5
Odd: 5

In [16]:
#7
l1=[4,3,8,1,0,3]
l2=["a",4,8,3,3,1,0]
for i in l1:
  if i not in l2:
    print("Not a subset")
    break
else:
    print("l1 is a Subset of l2")

l1 is a Subset of l2

In [17]:
#8
#maximum difference between two consecutie elements in a list
l1=[3,8,1,9,4]
max=l1[1]-l1[0]
for i in range(len(l1)-1):
  if l1[i+1]-l1[i]>max:
    max=l1[i+1]-l1[i]
    i+=1
print(max)

8

In [21]:
#9

d1={1:"a",2:"b"}
d2={3:"c",4:"d"}
d1.update(d2)
print(d1)

#method2
d1={1:"a",2:"b"}
d2={3:"c",4:"d"}
d3={**d1,**d2}
print(d3)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [23]:
#10
#find frequency in a sentence
s="Cat dog cat Dog dog cat cat"
l=s.split()
d={}
for i in l:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{'Cat': 1, 'dog': 2, 'cat': 3, 'Dog': 1}